# === Node.js ===
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# === Environment variables ===
.env

# === OS / Editor ===
.DS_Store
.vscode/
.idea/

# === Build / cache (на майбутнє) ===
dist/
build/
.cache/

# === Logs ===
logs/
*.log
